<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>
  Hello!
  Hope you are having a great day! <br>
  A realtor has just replied to your inquiry.<br>
</p>
------------------------------------------------------<br>
Subject : <%= @inquiry.subject %> <br>
Content : <%= @inquiry.content %> <br>

Reply   : <%= @inquiry.reply %> <br>

<p>
  To login to the site, just follow this link: <%= @url %>.
</p>

</body>
</html>