<h1>New Company</h1>

<%= render 'form', company: @company %>

<br>
<% if @role == "admin" %>
  <%= link_to 'Back to Dashboard', admin_path %> <br>
<% elsif @role == "realtor" %>
  <%= link_to 'Back to Dashboard', realtor_path(@realtor) %> <br>
<% end %>
